.blogCardsWrapper {
    max-width: 360px;
    margin: 0 auto;
    /* margin-left: auto;
    margin-right: auto; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (min-width: 576px) {

    .blogCardsWrapper {
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 720px;
    }
}

.blogCard {
    border: 1px solid #ccc;
    border-radius: 4px;
}

@media screen and (min-width: 576px) {
    .blogCard {
        width:calc((100% - 10px - 4px)/2);
    }
}

.blogCardImage img {
    object-fit: cover;
    width: 100%;
    height: 160px;
}

.blogCardBody {
    padding: 4px;
}

.blogCardTitle {
    text-align: left;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 5px;
}
.blogCardInfo {
    margin-bottom: 5px;
    font-size: 1.25rem;
}